* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #1DB954;
}

a {
  color: #1DB954;
  text-decoration: none;
  font-size: 50px;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.bm {
  justify-content: center;
  align-items: center;
  color: #1DB954;
  text-decoration: none;
  font-size: 30px;
  text-decoration: underline;
}

.html {
  height: 100vh; /* Occupa l'intera altezza della finestra del browser */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage {
  font-size: 140px;
  text-align: center;
}

h1 {
  color: #1DB954;
  font-size: 40x;
  margin-bottom: 10px;
}

p {
  color: #1DB954;
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: bold;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  border-radius: 0px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #1DB954;
  background-color: #191414;
  margin-top: 30px; 
  font-size: 24px;
}

.pre {
  margin-left: 100px;
}

.centered {
  display: block;
  margin: auto;
  text-align: center;
}

a {
  color: #1DB954;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.titolo {
  font-size: 80px;
  text-align: left;
}
