doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='style/style.css')
    title Spotify 2.0
  body
    h1.homepage Spotify 2.0
    ul
      li
        a(href="/song/Brivido") Brivido
      li
        a(href="/song/Stan") Stan
      li
        a(href="/song/Crudelia") Crudelia